/* @font-face {
	font-family: sukhumvit;
	src: url(../font/SukhumvitReg.woff2) format("woff2"), url(../font/SukhumvitReg.woff) format("woff");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: sukhumvit;
	src: url(../font/SukhumvitBold.woff2) format("woff2"), url(../font/SukhumvitBold.woff) format("woff");
	font-weight: 700;
	font-style: normal
} */

*{
	font-family: 'Kanit', sans-serif; 
	color: #fff;
}

body {
	/* font-family: 'Kanit', sans-serif; */
    font-size: 15px;    
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont,'Kanit', Tahoma, Geneva, sans-serif;
	/* font-size: .875rem; */
	font-weight: 400;
	line-height: 1.25;
	color: #fff;
	text-align: left;
	background-color: #000
}


.row{
	margin: 0px !important;	
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link {
	font-family: sukhumvit
}

.navbar-brand {
	width: 80px;
	z-index: 999;
	display: inline-block;
	margin-right: 1rem;
	font-size: 1.09375rem;
	line-height: inherit;
	white-space: nowrap;
	position: absolute;
	top: 0
}

.bg-brown {
	background-color: #271a22!important
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	margin-left: 95px
}
.bg-main {
	/* background-color: black; */
	background: url(../images/bg-main.jpg) center top repeat-y #000;
	background-size: cover
}

#main-content{
	/* background-color: black; */
}

#main-header .container {
	height: 50px
}

#main-header .container ul li {
	border-right: 1px solid #ced4da;
	padding-right: 15px
}

#main-header .container ul li:last-child {
	border: 0;
	padding-right: 0
}

.box-shadow {
	box-shadow: 0 15px 20px rgba(0, 0, 0, .631372549);
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .631372549);
	-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .631372549);
	-o-box-shadow: 0 15px 20px rgba(0, 0, 0, .631372549)
}

.slider {
	/* background: url(../images/bg-slider02s.jpg) center top repeat-x transparent; */
	background-size: contain;
	height: 795px
}

.slider .carousel-item {
	padding-top: 80px
}

.jackpot {
	background: url(../images/bg-jackpot.png) center top no-repeat transparent;
	background-size: contain;
	height: 70px;
	position: relative;
	z-index: 2;
	margin-top: -75px
}

.bg-bottom-slider {
	/* background: url(../images/bg-bottom-slider.png) center top repeat-x transparent; */
	background-size: contain;
	height: 306px;
	position: relative;
	z-index: 2;
	margin-top: -170px
}

.login-box {
	position: relative;
	z-index: 3;
	margin-top: -220px
}

.login-box header {
	position: relative;
	z-index: 4;
	margin-bottom: -25px
}

.login-box header img {
	width: 325px;
	height: 77px
}

.login-box .container {
	background: #7c1914;
	border: 10px solid #b12c27;
	border-radius: 15px;
	padding: 25px;
	color: #fff;
	position: relative
}

.login-box .container .form-group {
	margin-bottom: 0
}

.login-box .container button {
	width: 100%;
	font-weight: 700;
	font-family: sukhumvit;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549);
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549);
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549);
	-o-box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549);
	font-size: 20px;
	border: 0;
	outline: none
}

.login-box .container:after {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
	background: #c63733;
	z-index: -1;
	border-radius: 15px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549), 0 -15px 15px rgba(254, 227, 8, .38) inset, 0 -2px 2px #ffe300 inset;
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549), 0 -15px 15px rgba(254, 227, 8, .38) inset, 0 -2px 2px #ffe300 inset;
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549), 0 -15px 15px rgba(254, 227, 8, .38) inset, 0 -2px 2px #ffe300 inset;
	-o-box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549), 0 -15px 15px rgba(254, 227, 8, .38) inset, 0 -2px 2px #ffe300 inset
}

#main-content .container {
	background: #fff;
	padding-top: 15px;
	box-shadow: 0 -10px 30px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 -10px 30px rgba(0, 0, 0, .6);
	-moz-box-shadow: 0 -10px 30px rgba(0, 0, 0, .6);
	-o-box-shadow: 0 -10px 30px rgba(0, 0, 0, .6)
}

#main-content .container .bg-content-main {
	background: #f9e34c;
	margin: -15px;
	padding: 40px 25px 80px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549);
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549);
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549);
	-o-box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549)
}

#main-content .container .bg-content-main .content-main {
	padding: 15px;
	border-radius: 15px;
	background: #271a22;
	min-height: 200px;
	color: #fff
}

#main-content .container .bg-content-main .content-main .content {
	padding: 15px
}

#main-content .container .promotion {
	margin-top: -65px;
	padding: 15px
}

#main-content .container .promotion figure img {
	box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549);
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549);
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549);
	-o-box-shadow: 0 5px 20px rgba(0, 0, 0, .631372549);
	border-radius: 4px
}

#main-content .container .news {
	padding: 15px;
	overflow: hidden
}

#main-content .container .news article ul {
	list-style: none;
	padding: 0;
	margin: 0
}

#main-content .container .news article ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px 15px 15px 0;
	width: 50%;
	float: left
}

#main-content .container .news article ul li a {
	text-decoration: none
}

#main-content .container .news article ul li a:hover {
	opacity: .5
}

#main-content .container .news article ul li span {
	color: #adb5bd
}

#main-content .container .news article ul li img {
	width: 150px;
	height: 100px;
	min-width: 150px;
	margin-right: 15px;
	box-shadow: 0 5px 20px #adb5bd;
	-webkit-box-shadow: 0 5px 20px #adb5bd;
	-moz-box-shadow: 0 5px 20px #adb5bd;
	-o-box-shadow: 0 5px 20px #adb5bd;
	border-radius: 4px
}

#main-content .container .news article ul li header h3 {
	margin: 5px 0
}

#main-content .container .news article ul li header h3 a {
	color: #6c757d
}

#main-content .container .news article ul li small {
	color: #adb5bd
}

#main-content .container .why-us {
	margin: 15px -15px;
	padding: 30px;
	background: #f8f9fa
}

#main-content .container .why-us .row {
	align-items: center
}

#main-content .container .why-us .row ul {
	color: #888
}

#main-content .container .why-us .row figure {
	margin: 0
}

#main-content .container .why-us .row figure img {
	box-shadow: 0 5px 20px #adb5bd;
	-webkit-box-shadow: 0 5px 20px #adb5bd;
	-moz-box-shadow: 0 5px 20px #adb5bd;
	-o-box-shadow: 0 5px 20px #adb5bd;
	border-radius: 4px;
	width: 100%
}

#main-footer {
	padding: 15px;
	min-height: 200px;
	position: relative;
	background: rgba(0, 0, 0, .93);
	-webkit-background: rgba(0, 0, 0, .93);
	-moz-background: rgba(0, 0, 0, .93);
	-o-background: rgba(0, 0, 0, .93)
}

#main-footer .container {
	padding: 60px 15px;
	color: #777
}

#main-footer .container span {
	font-size: 18px;
	color: #f9e34c
}

#main-footer .container a,
#main-footer .container p {
	color: #777
}

#main-footer:before {
	content: "";
	position: absolute;
	top: -2px;
	left: 0;
	right: 0;
	height: 2px;
	background-image: -webkit-linear-gradient(left, #271a22, #dbbb67, #271a22);
	background-image: -moz-linear-gradient(left, #271a22, #dbbb67, #271a22);
	background-image: -o-linear-gradient(left, #271a22, #dbbb67, #271a22);
	background-image: linear-gradient(left, #271a22, #dbbb67, #271a22)
}

#mobile-header {
	display: none;
	position: relative;
	overflow: hidden
}

#mobile-header header {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background: #da2429;
	top: 0
}

#mobile-header header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px
}

#mobile-header header .container a {
	color: #fff
}

#mobile-header header .container a i {
	font-size: 28px;
	opacity: .7
}

#mobile-header header .container a span {
	position: relative;
	font-size: 20px;
	font-weight: 700;
	top: 3px
}

#mobile-header header .container a img {
	width: 40px;
	margin-top: -2px
}

#mobile-header .nav-mobile-expend {
	background: #fff;
	position: fixed;
	width: 100%;
	top: 50px;
	z-index: 9999;
	overflow-x: scroll;
	border-bottom: 1px solid #f3f3f3
}

#mobile-header .nav-mobile-expend .container ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 1000px
}

#mobile-header .nav-mobile-expend .container ul li {
	padding: 10px;
	float: left
}

#mobile-header .nav-mobile-expend .container ul li a {
	font-family: sukhumvit;
	font-size: 12px;
	text-decoration: none;
	color: #8c8c8c
}

#mobile-header .nav-mobile-expend .container ul li:first-child {
	padding-left: 0
}

.page #main-content {
	position: relative;
	margin-top: 0!important;
	z-index: 3
}

.page #main-content .container {
	padding-top: 40px
}

.page #main-content .container figure.header-page {
	margin: -40px -15px 15px
}

.navigation {
	display: none;
	position: fixed;
	z-index: 99999;
	bottom: 0;
	width: 100%;
	background: #fff;
	padding: 5px 0;
	border-top: 1px solid #f3f3f3
}

.navigation ul {
	list-style: none;
	padding: 0;
	margin: 0
}

.navigation ul li {
	float: left;
	text-align: center;
	width: 20%;
	padding: 5px 10px
}

.navigation ul li a {
	text-decoration: none;
	color: rgba(0, 0, 0, .4);
	font-size: 11px
}

.navigation ul li a i {
	font-size: 16px
}

@media(max-width:1740px) {
	.jackpot {
		margin-top: -125px
	}
	.bg-bottom-slider {
		margin-top: -120px
	}
	.slider {
		height: 685px
	}
}

@media(max-width:1490px) {
	.slider {
		height: 620px
	}
	.slider .carousel-item {
		padding-top: 30px
	}
	.jackpot {
		margin-top: -155px
	}
	.bg-bottom-slider {
		margin-top: -110px
	}
	.login-box {
		margin-top: -280px
	}
}

@media(max-width:1360px) {
	.slider {
		height: 550px
	}
	.jackpot {
		margin-top: -185px
	}
	.bg-bottom-slider {
		margin-top: -105px
	}
	.login-box {
		margin-top: -260px
	}
}

@media(max-width:1191px) {
	.slider {
		height: 500px
	}
	.slider .carousel-item {
		padding-top: 0
	}
	.bg-main {
		background-size: 140%
	}
}

@media(max-width:1100px) {
	.jackpot {
		display: none
	}
	.bg-bottom-slider {
		margin-top: -23.5%
	}
	.login-box {
		margin-top: -27%
	}
	.slider {
		height: 590px
	}
	.bg-main {
		background-size: 150%
	}
}

@media(max-width:991px) {
	.navbar {
		display: none
	}
	#main-header {
		display: none
	}
	.bg-bottom-slider {
		margin-top: -10%
	}
	.slider {
		height: auto;
		margin-top: 88px
	}
	.login-box {
		margin-top: -30%
	}
	#main-content .container .news article ul li {
		width: 100%
	}
	#mobile-header,
	.navigation {
		display: block
	}
	#main-content {
		padding-bottom: 40px
	}
	.page #main-content {
		margin-top: 80px!important
	}
	.page #main-content figure.header-page {
		margin: 0 -15px 15px!important
	}

	.main-container .game-box .icon-container:before {
		background-image: none !important ;
		
	}
}

@media(max-width:767px) {
	.login-box .container button {
		font-size: 16px;
		border-radius: 4px;
		box-shadow: none!important
	}
	.box-shadow {
		box-shadow: none!important
	}
	.login-box {
		margin-top: -40%
	}
	.login-box .container button {
		margin-top: 15px
	}

	.main-container .game-box .icon-container:before {
		background-image: none !important ;
		
	}
	
}

@media(max-width:720px) {
	.login-box {
		margin-top: -50%
	}
	.bg-main {
		background-size: 130%
	}

	.main-container .game-box .icon-container:before {
		background-image: none !important ;
		
	}
	
}

@media(max-width:580px) {
	#main-content .container {
		padding-top: 0
		
	}
	#main-content .container .bg-content-main .content-main {
		padding: 100px 15px 80px;
		margin: -70px -10px -10px;
		border-radius: 0 0 30px 30px;
		background: #1b1b1b
	}
	.bg-bottom-slider {
		height: 100px
	}
	.login-box {
		margin-top: -20%;
		margin-left: 30px;
		margin-right: 30px
	}
	.login-box .container {
		border: 0
	}
	.login-box header img {
		width: 85%;
		height: auto
	}
	#main-content .container .bg-content-main {
		padding: 40px 10px 15px;
		background: #fff;
		box-shadow: none!important
	}
	.bg-content-main figure {
		display: none
	}
	.slider .carousel-item {
		padding-top: 35px
	}
	.carousel-item img {
		max-width: 140%;
		margin-left: -20%;
		margin-right: -20%
	}
	#main-footer {
		display: none
	}
	.slider {
		background-size: inherit
	}
	#main-content .container .promotion {
		padding: 0
	}
	#main-content .container .news {
		padding: 30px 0
	}
	#main-content .container .news article ul li {
		padding: 10px 0
	}
	#main-content .container .news article ul li header h3 a {
		font-size: 16px
	}
	#main-content .container .news article ul li img {
		width: 120px;
		height: 80px
	}
	.content-main {
		font-size: 12px
	}
	.login-box label {
		display: none
	}
	.login-box input {
		margin-top: 15px
	}
	.page #main-content {
		margin-top: -15%
	}
	#main-content .container .why-us {
		padding: 30px 15px
	}
	#main-content .container .why-us img {
		margin: 15px 0
	}
	.page #main-content {
		margin-top: 50px!important
	}

	.main-container .game-box .icon-container:before {
		background-image: none !important ;
		
	}
	
}

@media only screen and (max-width: 600px) {
	.main-container .game-box .icon-container:before {
		background-image: none !important ;
		
	}

	#main-content .container{
		padding: 10px !important;

	}

  }
  #main-content .container{
	  padding:50px;	  
  }
.main-container {
	margin: 10px auto;
	user-select: none;
	padding-bottom: 8px;
	text-align: center;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;	
}

.main-container .game-categories {
	font-size: 21px;
	color: #fff;
	font-weight: 700
}

.main-container .game-categories:after {
	content: "";
	display: block;
	clear: both
}

.main-container .game-categories>ul.category {
	padding: 0;
	float: left;
	width: calc(100% - 240px)
}

.main-container .game-categories>ul.category>li {
	float: left;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0 20px;
	font-family: kittithada;
	color: #b0b0b0
}

.main-container .game-categories>ul.category>li>a {
	color: #fff;
	line-height: 17px
}

.main-container .game-categories>ul.category>li>a:hover,
.main-container .game-categories>ul.category>li>a:focus {
	text-decoration: none;
	color: #dfa21e;
	outline: none
}

.main-container .game-categories>ul.category>li.active {
	color: #dfa21e
}

.main-container .game-categories>ul.category>li.active>a {
	color: #dfa21e;
	border-bottom: solid 2px
}

.main-container .game-categories>ul.category .dropdown-category-content {
	visibility: hidden;
	cursor: pointer
}

.main-container .game-categories>ul.category .dropdown-category-content.show-more {
	visibility: visible
}

.main-container .game-categories>ul.category .dropdown-category-content .dropdown-menu {
	margin-top: 35px;
	visibility: hidden;
	background-color: #626060
}

.main-container .game-categories>ul.category .dropdown-category-content .dropdown-menu:after {
	border-bottom-color: #626060
}

.main-container .game-categories>ul.category .dropdown-category-content .dropdown-menu li:after {
	content: none
}

.main-container .game-categories>ul.category .dropdown-category-content .dropdown-menu li.active a {
	color: #f3c600
}

.main-container .game-categories>ul.category .dropdown-category-content .dropdown-menu li a {
	color: #fff;
	padding: 6px 15px
}

.main-container .game-categories>ul.category .dropdown-category-content .dropdown-menu li:hover a {
	color: #f3c600
}

.main-container .game-categories>ul.category .dropdown-category-content.open .dropdown-menu {
	visibility: visible;
	opacity: 1
}

.main-container .game-categories>ul.toolbar {
	float: right;
	width: 180px;
	margin-bottom: 0
}

.main-container .game-categories>ul.toolbar input {
	position: relative;
	resize: none;
	width: 100%;
	padding: 11px 6px;
	display: block;
	background: 0 0;
	border: none;
	outline: 0;
	z-index: 2;
	-o-transition: .3s color ease;
	transition: .3s color ease;
	top: -8px;
	left: -22px;
	color: #b0b0b0
}

.main-container .game-categories>ul.toolbar .search-container {
	position: relative;
	width: 180px
}

.main-container .game-categories>ul.toolbar .search-container:after {
	content: '';
	position: absolute;
	top: -9px;
	right: 10px;
	background: url(../images/games/bkg_search-v=1.png) no-repeat;
	width: 230px;
	height: 42px
}

.main-container .game-box {
	float: left;
	width: 220px;
	height: 245px;
	margin: 0 4px;
	display: none
}

.main-container .game-box.active-category {
	display: block
}

.main-container .game-box:hover .index-title {
	color: #dea84d
}

.main-container .game-box:hover .game-title {
	color: #e1a119
}

.main-container .game-box .icon-container {
	height: 205px;
	position: relative;
	justify-content: center;
	display: flex
}

.main-container .game-box .icon-container .img-container {
	position: absolute
}

.main-container .game-box .icon-container .img-container .img-wrapper img {
	width: 220px;
	height: 195px;
	object-fit: cover;
}

.main-container .game-box .icon-container .play-container {
	position: absolute;
	
	z-index: 5;
	top: 0
}

.main-container .game-box .icon-container .play-container .play-btn {
	margin-top: 128px;
	cursor: pointer;
	display: none
}

/* .main-container .game-box .icon-container:before {
	background-image: url(../images/games/silver-v=10.png);
	content: "";
	width: 201px;
	height: 144px;
	top: 43px;	
	position: absolute;	
} */

h1 .title{

}

.main-container .game-box .icon-container:hover .play-btn {
	display: block
}

.main-container .game-box .icon-container:hover:before {
	background-image: url(../images/games/frame_hover.png)!important
}

.main-container .game-box .icon-container .game-flag {
	position: absolute;
	z-index: 3
}

.main-container .game-box .icon-container .game-flag.game-flag-new {
	right: 7px;
	top: 42px
}

.main-container .game-box .icon-container .game-flag.game-flag-new .pre-img {
	background: url(../images/games/flag-new.png) no-repeat;
	background-size: 100% 100%;
	width: 47px;
	height: 48px;
	display: inline-block
}

.main-container .game-box .icon-container .game-flag.game-flag-hot {
	left: 7px;
	top: 41px
}

.main-container .game-box .icon-container .game-flag.game-flag-hot .pre-img {
	background: url(../images/games/flag-hot.png) no-repeat;
	background-size: 100% 100%;
	width: 47px;
	height: 48px;
	display: inline-block
}

.main-container .game-box .icon-container .game-flag.game-flag-soon {
	top: 170px;
	width: 100%;
	height: 35px;
	background: url(../images/games/comingsoon.png) no-repeat;
	background-position: center
}

.main-container .game-box .icon-container .game-flag.game-flag-soon span.coming-soon {
	font-weight: 700;
	color: #191717!important;
	font-family: kittithada;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 35px
}

.main-container .game-box .icon-container .game-flag.free-play-flag {
	top: 170px;
	width: 100%;
	height: 35px;
	background: url(../images/games/banner_free_game.png) no-repeat;
	background-position: center
}

.main-container .game-box .icon-container .game-flag.free-play-flag span.text {
	color: #fff!important;
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 30px;
	text-shadow: 0 0 3px #977373
}

.main-container .game-box .game-jackpot {
	position: relative;
	text-align: center
}

.main-container .game-box .game-jackpot .jackpot-background:before {
	content: "";
	top: -33px;
	left: 21px;
	position: absolute;
	width: 180px;
	height: 32px;
	background-image: url(../images/games/bkg_jackpot-v=10.png);
	z-index: 3
}

.main-container .game-box .game-jackpot .jackpot-coin {
	width: 34px;
	height: 33px;
	background-image: url(../images/games/Coin-v=10.png);
	position: absolute;
	top: -43px;
	left: 35px;
	z-index: 4
}

.main-container .game-box .game-jackpot .jackpot-value-container {
	position: absolute;
	display: inline-block;
	width: 100%;
	left: 0;
	top: -29px;
	z-index: 4;
	font-size: 20px;
	color: #fff;
	font-weight: 700
}

.main-container .game-box .game-title {
	display: block;
	font-size: 14px;
	line-height: 17px;
	color: #c2c2c2;
	font-weight: 700;
	text-align: center;
	padding-left: 8px;
	font-family: Arial, sans-serif
}

.main-container .game-box .game-bet-limits {
	position: absolute;
	width: 90px;
	bottom: 35px;
	right: 15px;
	text-align: center
}

.main-container .game-box .game-bet-limits span {
	font-size: 19px;
	color: #fff;
	font-weight: 700;
	letter-spacing: .8px
}

.main-container:after {
	content: "";
	display: block;
	clear: both
}

div.member-register {
    border: 2px solid #e6c41a;
    padding: 0px 10px 10px 10px;
}

.shine-text {
    background: linear-gradient(to right, #e6c41a 20%, #ffffff 40%, #ffffff 60%, #e6c41a 80%);
    color: #e6c41a;
    background-clip: text;
    -webkit-background-clip: text;
}

.buttonline {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #ffffff;
    border: 1px solid #27ff00;
    background: linear-gradient(to bottom, #01B921 0%, #00ad05 100%);
    border-radius: 5px;
    line-height: 1em;
    padding-left: 3em;
    padding-right: 3em;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    padding: 2px 42px;
    box-shadow: 0 0 1px 0 rgb(0, 43, 1);
}

.title-border {
	border-left: #e6c41a 5px solid;
	font-size: 23px !important;
	padding-left: 15px !important;
}

.font-subject {
    font-size: 30px;
}

@font-face {
  font-family: Kanit;
  src: url(../font/Kanit-Medium.ttf);
}

@font-face {
    font-family: 'Kanit', sans-serif;
}

.mgT15 {
    margin-top: 15px;
}

.text-gray{
	color:rgb(192, 192, 192)
}

.add-button {
	background-color: red;
	border-radius: 20px;
	height: 50px;
	border: 0px;	
}